.trip-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.description {
    margin-right: 5px;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.trip-overview {
    border: 1px;
    padding: 1em;
}