header.MuiAppBar-colorPrimary {
    color: #ffffff;
    background-color: #76a4bc;
}

.trip-bar a, .button-text {
    color: #ffffff;
    text-decoration: none;
}

.button-style .MuiSvgIcon-root {
    color: white;
}